<!DOCTYPE html>
<html lang="en">
<head>
    <title>d3Wiz - The way to visualise gene relationships.</title>
</head>
<body>
    <header>Welcome to d3Wiz - the way to visualise gene relationships.</header>
    <div>Select your gene:
        <!-- TODO: Dynamically build list of available genes. -->
        <ul>
            <li><a href="visualise?id=95">hematlas, celltype (95)</a></li>
            <li><a href="visualise?id=1">Randomised test data</a></li>
            <li><a href="visualise?id=2">Slightly less randomised test data</a></li>
        </ul>
    </div>
</body>
</html>